* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #A162E5;
  font-family: "Libre Caslon Text", serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}


.grid-container > div {
    font-size: 15vh;
    color: white;
}

.navbar1 {
    grid-column: 1 / 11 ;
    padding: 3vh;
    background: #8F1CBD;
}

.navbar1 h2 {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 6vh;
  
}

.navbar {
    grid-column: 1 / 2;
    background-color: #680d8b;
}

ul {
    list-style: none;
    font-size: 5.8vh;
    
}

.navbar li {
   display: flex;
   justify-content: center;
}

a {
    margin: 10.9vh;
    text-decoration: none;
    color: white;
}

.image-section {
    grid-column: 2 / 3;
    padding: 3vh 6vh;
  
}

.image-section img {
  width: 30vw;           
  height: 30vw;          
  max-width: 37vh;       
  max-height: 37vh;
  border-radius: 50%;    
  object-fit: cover;     
  border: 0.8vh solid #8F1CBD;
}

.image-section .quote {
    position: relative;  
    top: 14.5vh;            
    left: 19.5vh;           
    font-size: 5vh;
    color: white;
}

.text-section {
    grid-column: 3 / 11;
    padding-top: 8vh;


}

.text-section ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    list-style: none;
}

.text-section li:nth-child(1) {
    font-size: 6.5vh;
}
  
.text-section li:nth-child(2) {
    font-size: 4.5vh;
}

.text-section li:nth-child(3) {
    font-size: 4.1vh;
    padding-top: 49vh;
    left: -15vh; 
    position: relative; 
}

.menu-bar {
    display: none !important;
}

.libre-caslon-text-regular {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-caslon-text-bold {
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-caslon-text-regular-italic {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: italic;
}

    @media screen and (max-width: 1656px) {

        .navbar1 {
              grid-column: 1/11;
              grid-row: 1/1;
              padding: 4vh;

              h2{
                font-size: 5.5vh;
                justify-content: center;
                
                }

            }

            .navbar {
              grid-column: 1/1;
              grid-row: 2/2 ; 
              padding: 2.2vh 0 0 0;

                ul {
                    font-size: 5.3vh;
                    gap:1vh;

                }

                a {

                    margin: 10.55vh;
                }

            }   
            
            .image-section {
                grid-column: 2/4 ;
                grid-row: 2/3;
                text-align: center;
                padding-top: 3vh;

                img{
                    border: 0.5vh solid #8F1CBD;
                    max-width: 67vh;       
                    max-height: 67vh;
                    width: 20vw;           
                    height: 20vw;
                }
            }
        

            .text-section {
                grid-column: 5/11;
                grid-row: 2/3;
                padding-top: 0vh;

                ul {
                    padding-left: 5vh;
                }

                li:nth-child(1){
                    padding-top: 8vh;   
                    font-size: 5.6vh;

                    
                }

                li:nth-child(2){
                    font-size: 3.6vh;
                    
                }

                li:nth-child(3){
                    padding-top: 49.5vh;
                    font-size: 2.7vh;
                    position: relative;
                    left: -15vh;

                }
              
            }
        }

    @media screen and (max-width: 1500px) {

        .navbar1 {
              grid-column: 1/11;
              grid-row: 1/1;
              padding:5vh;

              h2{
                font-size: 5.3vh;
                justify-content: center;
                
                }

            }

            .navbar {
              grid-column: 1/1;
              grid-row: 2/2 ; 
              padding: 2.2vh 0 0 0;


            

                ul {
                    font-size: 4.8vh;
                    gap:1vh;

                }

                a {

                    margin: 10.55vh;
                }

            }   
            
            .image-section {
                grid-column: 2/4 ;
                grid-row: 2/3;
                text-align: center;
                padding-top: 3vh;

                img{
                    border: 0.5vh solid #8F1CBD;
                    max-width: 67vh;       
                    max-height: 67vh;
                    width: 20vw;           
                    height: 20vw;
                }
            }
        

            .text-section {
                grid-column: 5/11;
                grid-row: 2/3;
                padding-top: 0vh;

                ul {
                    padding-left: 5vh;
                }

                li:nth-child(1){
                    padding-top: 8vh;   
                    font-size: 5.5vh;

                    
                }

                li:nth-child(2){
                    font-size: 3.5vh;
                    
                }

                li:nth-child(3){
                    padding-top: 49.5vh;
                    font-size: 2.5vh;
                    position: relative;
                    left: -15vh;

                }
              
            }
        }

    @media screen and (max-width: 1400px) {

        .navbar1 {
              grid-column: 1/11;
              grid-row: 1/1;
              padding:6vh;

              h2{
                font-size: 5.2vh;
                justify-content: center;
                
                }

            }

            .navbar {
              grid-column: 1/1;
              grid-row: 2/2 ; 
              padding: 7.5vh 0 0 0;


            

                ul {
                    font-size: 3.81vh;
                    gap:1vh;

                }

                a {

                    margin: 10.02vh;
                }

            }   
            
            .image-section {
                grid-column: 2/4 ;
                grid-row: 2/3;
                text-align: center;
                padding-top: 3vh;

                img{
                    border: 0.5vh solid #8F1CBD;
                    max-width: 67vh;       
                    max-height: 67vh;
                    width: 20vw;           
                    height: 20vw;
                }
            }
        

            .text-section {
                grid-column: 5/11;
                grid-row: 2/3;
                padding-top: 0vh;

                ul {
                    padding-left: 5vh;
                }

                li:nth-child(1){
                    padding-top: 8vh;   
                    font-size: 5.1vh;

                    
                }

                li:nth-child(2){
                    font-size: 3.1vh;
                    
                }

                li:nth-child(3){
                    padding-top: 49.5vh;
                    font-size: 2.1vh;
                    position: relative;
                    left: -15vh;

                }
              
            }
        }

    @media screen and (max-width: 1200px) {

        .navbar1 {
              grid-column: 1/11;
              grid-row: 1/1;
              padding:3.5vh;

              h2{
                font-size: 5vh;
                justify-content: center;
                
                }

            }

            .navbar {
              grid-column: 1/11;
              grid-row: 2/2 ; 
              padding: 0;

            

                ul {
                    display: flex;
                    justify-content: center;
                    font-size: 4vh;
                    gap:8vh;
                }

                a {

                    margin: 4vh;
                }

            }   
            
            .image-section {
                grid-column: 1/11 ;
                grid-row: 3/3;
                text-align: center;

                img{
                    border: 0.5vh solid #8F1CBD;
                    max-width: 67vh;       
                    max-height: 67vh;
                    width: 32vw;           
                    height: 32vw;
                }
            }
        

            .text-section {
                grid-column: 1/11;
                grid-row: 4/4;
                padding-top: 0vh;

                ul {
                    align-items: center;
                    padding-left: 0vh;
                }

                li:nth-child(1){
                    padding-top: 0vh;
                    font-size: 5.5vh;
                    
                }

                li:nth-child(2){
                    font-size: 3.5vh;
                    
                }

                li:nth-child(3){
                    padding-top: 5vh;
                    font-size: 2.8vh;
                    text-align: center;
                    position: relative;
                    left: 0vh;

                }
              
            }
        }

    @media screen and (max-width: 1000px) {

        .navbar1 {
              grid-column: 1/11;
              grid-row: 1/1;
              padding:3vh;

              h2{
                font-size: 4.7vh;
                justify-content: center;
                
                }

            }

            .navbar {
              grid-column: 1/11;
              grid-row: 2/2 ; 
              padding: 0;

            

                ul {
                    display: flex;
                    justify-content: center;
                    font-size: 3vh;
                    gap:8vh;
                }

                a {

                    margin: 4vh;
                }

            }   
            
            .image-section {
                grid-column: 1/11 ;
                grid-row: 3/3;
                text-align: center;

                img{
                    border: 0.5vh solid #8F1CBD;
                    max-width: 67vh;       
                    max-height: 67vh;
                    width: 35vw;           
                    height: 35vw;
                }
            }
        

            .text-section {
                grid-column: 1/11;
                grid-row: 4/4;
                padding-top: 0vh;

                ul {
                    align-items: center;
                }

                li:nth-child(1){
                    padding-top: 0vh;
                    font-size: 5.2vh;
                    
                }

                li:nth-child(2){
                    font-size: 3.2vh;
                    
                }

                li:nth-child(3){
                    padding-top: 5vh;
                    font-size: 2.5vh;
                    text-align: center;
                    position: relative;
                    left: 0vh;

                }
              
            }
        }

    @media screen and (max-width: 800px) {

        .navbar1 {
              grid-column: 1/11;
              grid-row: 1/1;
              padding:4vh;

              h2{
                font-size: 4.5vh;
                justify-content: center;
                
                }

                }

            .navbar {
              grid-column: 1/3;
              grid-row: 1/1 ; 
              text-align: center;
              padding: 5vh 2vh;
              background-color: transparent !important;

            }

                .navbar ul {
                    display: none;
                }

                .menu-bar {
                    float: left;
                    display: block !important;
                    font-size: 2.5vh;

                }
            
            .image-section {
                grid-column: 1/11 ;
                grid-row: 2/2;
                text-align: center;

                img{
                    border: 0.5vh solid #8F1CBD;
                    max-width: 67vh;       
                    max-height: 67vh;
                    width: 50vw;           
                    height: 50vw;
                }
            }
        

            .text-section {
                grid-column: 1/11;
                grid-row: 3/3;
                padding-top: 0vh;

                ul {
                    align-items: center;
                }

                li:nth-child(1){
                    padding-top: 0vh;
                    font-size: 4.8vh;
                    
                }

                li:nth-child(2){
                    font-size: 2.8vh;
                    
                }

                li:nth-child(3){
                    padding-top: 5vh;
                    font-size: 2.1vh;
                    text-align: center;
                    position: relative;
                    left: 0vh;

                }
              
            }
        }

    @media screen and (max-width: 600px) {

        .navbar1 {
              grid-column: 1/11;
              grid-row: 1/1;
              padding:4vh;

              h2{
                font-size: 4vh;
                justify-content: center;
                
                }

                }

            .navbar {
              grid-column: 1/3;
              grid-row: 1/1 ; 
              text-align: center;
              padding: 5vh 2vh;
              background-color: transparent !important;

            }

                .navbar ul {
                    display: none;
                }

                .menu-bar {
                    float: left;
                    display: block !important;
                    font-size: 2.5vh;

                }
            
            .image-section {
                grid-column: 1/11 ;
                grid-row: 2/2;
                text-align: center;

                img{
                    border: 0.5vh solid #8F1CBD;
                    max-width: 67vh;       
                    max-height: 67vh;
                    width: 50vw;           
                    height: 50vw;
                }
            }
        

            .text-section {
                grid-column: 1/11;
                grid-row: 3/3;
                padding-top: 0vh;

                ul {
                    align-items: center;
                }

                li:nth-child(1){
                    padding-top: 0vh;
                    font-size: 3.8vh;
                    
                }

                li:nth-child(2){
                    font-size: 2.2vh;
                    
                }

                li:nth-child(3){
                    padding-top: 5vh;
                    font-size: 1.6vh;
                    text-align: center;
                    position: relative;
                    left: 0vh;

                }
              
            }
        }

    @media screen and (max-width: 400px) {

        .navbar1 {
              grid-column: 1/11;
              grid-row: 1/1;
              padding-top:3vh;

              h2{
                font-size: 3vh;
                justify-content: center;
                
                }

                }

            .navbar {
              grid-column: 1/3;
              grid-row: 1/1 ; 
              text-align: center;
              padding: 3.3vh 2vh;
              background-color: transparent !important;

            }

                .navbar ul {
                    display: none;
                }

                .menu-bar {
                    float: left;
                    display: block !important;
                    font-size: 2.5vh;

                }
            
            .image-section {
                grid-column: 1/11 ;
                grid-row: 2/2;
                text-align: center;

                img{
                    border: 0.5vh solid #8F1CBD;
                    max-width: 70vh;       
                    max-height: 70vh;
                    width: 67vw;           
                    height: 67vw;
                }
            }
        

            .text-section {
                grid-column: 1/11;
                grid-row: 3/3;
                padding-top: 0vh;

                li:nth-child(1){
                    padding-top: 0vh;
                    font-size: 2.8vh;
                    
                }

                li:nth-child(2){
                    font-size: 1.8vh;
                    
                }

                li:nth-child(3){
                    padding-top: 5vh;
                    font-size: 1.2vh;
                    text-align: center;
                    position: relative;
                    left: 0vh;

                }
              
            }
        }

    @media screen and (max-width: 300px) {

        .navbar1 {
              grid-column: 1/11;
              grid-row: 1/1;
              padding-top:3vh;

              h2{
                font-size: 3vh;
                justify-content: center;
                
                }

                }

            .navbar {
              grid-column: 1/3;
              grid-row: 1/1 ; 
              text-align: center;
              padding: 3.3vh 2vh;
              background-color: transparent !important;

            }

                .navbar ul {
                    display: none;
                }

                .menu-bar {
                    float: left;
                    display: block !important;
                    font-size: 2.5vh;

                }
            
            .image-section {
                grid-column: 1/11 ;
                grid-row: 2/2;

                img{
                    border: 0.5vh solid #8F1CBD;
                    max-width: 67vh;       
                    max-height: 67vh;
                    width: 50vw;           
                    height: 50vw;
                }
            }
        

            .text-section {
                grid-column: 1/11;
                grid-row: 3/3;
                padding-top: 0vh;

                li:nth-child(1){
                    padding-top: 0vh;
                    font-size: 2.8vh;
                    
                }

                li:nth-child(2){
                    font-size: 1.8vh;
                    
                }

                li:nth-child(3){
                    padding-top: 5vh;
                    font-size: 1.2vh;
                    text-align: center;
                    position: relative;
                    left: 0vh;

                }
              
            }
        }


    

    